//변수
$red : rgb(230, 65, 36);
$green : rgb(19, 141, 19);
$blue : dodgerblue;
$yellow : rgb(255, 228, 0);
$silver : rgb(211, 211, 211);
@mixin myMixin($size){
    $width:100px;
    @if $size % 2 ==0{
        $width : $width + 50
    }@else if $size % 3 == 0{
        $width : $width + 100
    }@else{
        $width : $width
    }
    width:$width;
    height: 50px *2;
}
.wrap{
    margin: 30px;
    display: flex;
    .box{
        text-align: center;
        
        &.red{background: $red;@include myMixin(1)}
        &.green{background: $green;@include myMixin(2)}
        &.blue{background: $blue;@include myMixin(3)}
        &.yellow{background: $yellow;@include myMixin(4)}
        &.silver{background: $silver;@include myMixin(5)}
    }
}