.con-box{width: 500px;display: flex;border: 1px solid #000;padding: 20px;}
.con-box article{width: 100px;margin-right: 10px;height: 80px;background: tomato;text-align: center;line-height: 80px; transition: 0.4s; cursor: pointer;}
.con-box article:hover{
        transform: rotate(45deg);
        background: yellow;
}