* {
	margin: 0;
	padding: 0;
}
.gallery {
	width: 100%;
	margin: auto;
}
.gallery h2 {
	text-align: center;
	font-style: 15px;
	padding: 20px;
}
.gallery .con-box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.gallery .con-box article {
	width: 300px;
	padding: 10px;
	border: 1px solid #dcdcdc;
	margin-right: 15px;
	margin-bottom: 15px;
}
.gallery .con-box img {
	width: 100%;
	height: 450px;
}
.gallery .con-box h3 {
	font-style: 20px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.gallery .con-box p {
	margin-bottom: 5px;
}
