.wrap {
}
.wrap table {
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #eee;
}
.wrap table thead {
	background-color: #f8f8f8;

	border-bottom: 1px solid #eee;
}
.wrap table tbody {
	background-color: #fff;
}
.wrap table tr:not(:last-child) {
	border-bottom: 1px solid #eee;
}
.wrap table td,
th {
	padding: 20px;
}
